@media (max-width: 1024px) {
  .block-project__slider {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .block-project__slider {
    display: none;
  }
}
