.organizers .organizers__block_wide {
  width: 100%;
  text-align: center;
  margin-bottom: 75px;
}

@media (max-width: 425px) {
  .organizers .organizers__block_wide {
    margin-bottom: 50px;
  }
}
