@import url(./_rtl/block-project__container_rtl.css);

.block-project__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 20px 50px
}

@media (max-width: 425px) {
  .block-project__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50px 20px;
  }
}


