.text-block__paragraph {
  font-family: 'Calibri', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  /* or 180% */
  text-align: center;
  letter-spacing: 0.02em;

  /* прописать верные отступы */
  margin-block-start: 0px;
  margin-block-end: 0px;
}
