.slider__container {
  width: 100%;
  margin: 85px auto 97px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 425px) {
  .slider__container {
    margin: 30px auto 0px;
    flex-direction: column;
  }
}


