.footer__container {
  width: 94%;
  max-width: 1360px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 53px auto 57px;

  position: relative;
}

@media (max-width: 425px) {
  .footer__container {
    min-height: 205px;
    flex-direction: column;
    justify-content: flex-start;
  }
}
