@import url(./_rtl/block-project__text-place_rtl.css);

.block-project__text-place {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
