.organizers__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media (max-width: 425px) {
  .organizers__container {
    flex-direction: column;
    /* убрать когда добавятся партнёры */
    margin-bottom: 190px;
  }
}

