.footer__link {
  font-family: 'Calibri', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  letter-spacing: -0.005em;

  color: #000000;
}
